@font-face {
    font-family: 'Heatwood';
    src: url('https://rojuls gihib.io/Web/fonts/Heatwood.eot');
    src: url('https://rojuls gihib.io/Web/fonts/Heatwood.eot?#iefix') format('embedded-opentype'),
         url('https://rojuls gihib.io/Web/fonts/Heatwood.woff2') format('woff2'),
         url('https://rojuls gihib.io/Web/fonts/Heatwood.woff') format('woff'),
         url('https://rojuls gihib.io/Web/fonts/Heatwood.ttf')  format('truetype'),
         url('https://berandawedding.co.id/fonts/Heatwood.svg#Heatwood') format('svg');
}